@import url(colors.css);

.text__container {
	max-width: 99%;
	min-height: 100%;
	margin: 0 auto;
	display: grid;
	row-gap: 120px;
	padding: 0 10px;
}

.big__title,
.users {
	display: none;
}

.main_title {
	font-style: normal;
	font-weight: 700;
	font-size: calc(2.5rem + 3vw);
	color: var(--main-default-color);
}

.lower__title {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media screen and (max-width: 760px) {
	.lower {
		background: linear-gradient(-45deg, var(--header-line-gredient_1) 13%, var(--header-line-gredient_2) 91%);
		color: transparent;
		-webkit-background-clip: text;
	}
}

.lower {
	font-size: calc(1rem + 2vw);
}

.main__flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;
	margin: 0 auto;
}
.main__button {
	display: flex;
	justify-content: center;
	color: var(--main-default-color);
	font-style: normal;
	font-weight: 500;
	font-size: calc(0.5rem + 0.5vw);
	padding: 8px 25px;
	border-radius: 10px;
	position: relative;
	bottom: 3px;
	right: 0;
}

.main__button:hover {
	transition: all 0.3s;
	background: linear-gradient(70deg, var(--main-button-bg_1) 16%, var(--main-button-bg_2) 94%);
	color: var(--main-default-color);
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.information__container {
	width: 100%;
	margin: 0 auto;
	color: var(--main-default-color);
	display: flex;
	flex-direction: column;
	gap: 90px;
}

@media screen and (max-width: 770px) {
	.information__container {
		gap: 40px;
	}
}

.info__title {
	font-size: calc(0.5rem + 2vw);
}
.flex__item {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	gap: 10px;
	/* background-color: var(--main-cards); */
	color: var(--main-card-text);
	border-radius: 10px;
	padding: 5px 0;
}

.flex__item:hover {
	box-shadow: 0 0 10px var(--main-cards-shadow);
}

.flex__title {
	font-weight: 600;
	font-size: calc(1rem + 1vw);
}
.flex__text {
	font-style: normal;
	font-weight: 400;
	font-size: calc(0.5rem + 0.5vw);
	padding: 0 10px;
}

.main__info-flex {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-items: center;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	.big__title {
		display: block;
		text-align: center;
	}

	.colored {
		background: linear-gradient(90deg, var(--main-line-gredient_1) 1.9%, var(--main-line-gredient_2) 97.1%);
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}

	.lower__title {
		display: grid;
		row-gap: 90px;
	}

	.main__button {
		padding: 10px 25px;
	}

	.main__info-flex {
		width: 100%;
		height: max-content;
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: minmax(100px, 33.333%);
		column-gap: 30px;
		justify-content: center;
		text-align: center;
	}

	.users {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		width: 40%;
		margin: 0 auto;
		font-style: normal;
		font-weight: 700;
		font-size: calc(0.5rem + 0.5vw);
		line-height: 38px;
		color: var(--main-default-color);
	}
	.dot {
		content: "";
		width: 10px;
		height: 10px;
		background-color: var(--main-dot);
		border-radius: 50%;
		box-shadow: 0 0 10px var(--main-dot-shadow);
	}
}
